body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #192020;
    margin: 0;
}

.dev {
    margin-top: 0;
    display: flex;
    position: absolute;
    background-color: black;
    color: red;
    width: auto;
    height: 20px;
    padding: 5px;
    
}

/* to hide displays 1 2 3 */
.hide {
    display: none;
}


/* top container */
.design {
    padding: 40px 0;
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #192020;
}

/* the main title */
#title {
    filter: drop-shadow(0px 0px 55px yellow);
    width: 100%;
    height: 120px;
    font-weight: bold;
    color: yellow;
    font-size: 500%;
}

/* game content */
.game-content {
    filter: drop-shadow(0px 0px 30px yellow);
    border: 1px solid rgb(69, 50, 2);
    margin: auto;
    max-width: 500px;
    height: 550px;
    background-color: #402f04;
}

/* scoreboard */
.game-content .scoreboard {
    border: 1px solid darkgoldenrod;
    background-color: #402f04;
    margin: auto;
    display: flex;
    text-align: center;
    width: 100%;
    height: 150px; 
    color: darkgoldenrod;
    font-size: 300%;
}

  /* coin */
.coin {
    filter: drop-shadow(1px 1px 10px yellow);
    padding: 20px;
    width: auto;
    display: block;
    color: yellow;
    height: auto;
    font-size: 60%;
}

.coin img {
    height: auto;
    width: 200px;
    object-fit: contain;
}

/* COIN `S` */
.scoreboard .coins {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    width: 30%;
    height: 100%; 
}

.coins img {
    filter: drop-shadow(1px 1px 10px yellow);
    width: auto;
    height: auto;
}

/* clock */
.scoreboard .clock {
    filter: drop-shadow(1px 1px 10px rgb(112, 83, 10));
    margin: auto;
    width: 40%;
    height: auto;
    margin-left: 0;
    font-size:  200%;
    color: white;
}

/* math */
.game-content .math {
    align-content: center;
    width: 100%;
    height: auto;
    font-size: xx-large;
}

/* math problem */
.problem {
    display: inline-flex;
    margin: auto;
    width: 100%;
    padding: 40px 0px 40px 0px;
    height: 100px;
    font-weight: bold;
    color: yellow;
    font-size: 280%; 
    align-items: center;
    border: 1px solid darkgoldenrod;
}

/* image  */
.image {
    filter: drop-shadow(0px 0px 20px yellow);
    background-image: linear-gradient(rgb(0, 0, 0),rgba(184, 134, 11, 0.3)), url("/assets/images/all-coins.png");
    width: 100%;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

/* id problem */
#problem {
    margin-left: auto;
}

/* id result */
#result {
    margin-left: auto;
    width: 60px;
    margin-right: 50px;
    margin-left: 40px;
    padding: 5px;
    font-size: 30%; 
}

/* answers options */
.opc {
    display: flex;
}

/* button css */
.opc button {
    width: 100%;
    height: 80px;
    border: 0;
    background-color: yellow;
    font-weight: bold;
    font-size: 100%;
}

.opc button:hover {
    background-color: #192020;
    color: yellow;
}

/* button check */
#btn-check {
    width: 100%;
    height: 120px;
    font-size: 100%;
    background-color: yellow;
    border: 0;
    color: darkgoldenrod;
    font-weight: bold;
}

#btn-check:hover {
    filter: drop-shadow(0px 0px 10px yellow);
    color: rgb(101, 76, 15);
    transition-duration: 0.4s;
    transition-delay: 0.1s;
}

/* button start */
#btn-start {
    margin-top: 30px;
    width: 100%;
    height: 130px;
    font-size: 300%;
    background-color: yellow;
    border: 0;
    color: darkgoldenrod;
    font-weight: bold;
}

#btn-start:hover {
    filter: drop-shadow(0px 0px 10px yellow);
    color: rgb(101, 76, 15);
    transition-duration: 0.4s;
    transition-delay: 0.1s;
}

/* Just aplied for screen size less than 500px */
  @media screen and (max-width: 500px) {
    #title {
        font-size: 400%;
        padding-top: 20%;
    }
  }

@media screen and (max-width: 400px) {
    #opc {
        font-size: 80%;
    }
    #problem {
        font-size: 60%;
    }
    #title {
        font-size: 300%;
    }

    .design {
        padding: 0;
    }
  }